* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-image: url('/Images/comp1.jpg ');
}

nav {
    background-color: rgb(4, 12, 11);
    display: flex;
    z-index: 8;
    height: 8vh;
    min-height: 30px;
    background-image: linear-gradient(rgb(2, 6, 7), rgb(2, 72, 82));
    position: sticky;
    justify-content: space-between;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

nav .navitems {
    display: flex;
    list-style: none;
    margin: auto;
    justify-content: space-evenly;
}

.modes {
    color: black;
    background-color: blanchedalmond;
}

.modes a {
    color: black;
    text-decoration: brown;
}


nav .navitems a {
    font-size: 18px;
    text-decoration: none;
    color: rgb(236, 255, 255);
}

nav .logo {
    margin: auto;
}

nav .logo a {
    color: rgb(236, 255, 255);
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

nav a {
    padding: 8px;
    font-weight: 600;
    padding-left: 12px;
    padding-right: 12px;
}

nav a:hover {
    background-color: #15cab2;
    padding: 8px;
    color: rgb(73, 73, 73);
    padding-left: 12px;
    padding-right: 12px;
    border-radius: 6px;
}

.burger {
    display: none;
    margin: auto;
    flex-direction: column;
}

.burger div {
    margin-bottom: 4px;
    background-color: rgb(240, 254, 255);
    width: 24px;
    height: 3px;
    transition: all 0.3s ease;
}

.nav-drop {
    list-style: none;
    position: absolute;
    background-color: rgb(0 12 10);
    left: 65%;
    top: 8vh;
    z-index: 8;
    width: 20vw;
    height: 25vh;
    justify-content: space-around;
    display: none;
    align-items: center;
    border-bottom-left-radius: 13px;
    border-bottom-right-radius: 13px;
    flex-direction: column;
    background-image: linear-gradient(rgb(2, 6, 7), rgb(80, 151, 161));
}

.nav-drop a {
    padding: 8px;
    padding-left: 22px;
    padding-right: 22px;
}

.nav-drop a:hover {
    background-color: #15cab2;
    padding: 13px;
    padding-left: 32px;
    padding-right: 32px;
    color: rgb(43, 43, 43);
}

.profile {
    display: flex;
}

.content {
    width: 80vw;
    height: auto;
    min-height: 90vh;
    margin: auto;
    margin-top: 6px;
    margin-bottom: 13px;
    background-color: #b7f3eb71;
    border-radius: 4px;
}

.content .home-content {
    width: 100%;
    border-radius: 4px;
    background-color: #b7f3eb71;
    height: 420px;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    display: flex;
    margin-bottom: 13px;

}

.content .home-content .btn-prev {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 12vw;
}

.content .home-content::-webkit-scrollbar {
    display: none;
}

.content .home-content .btn-next {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 250px;
    left: 82vw;
}

@media screen and (max-width: 768px) {
    .navitems {
        position: absolute;
        right: 0px;
        height: 92vh;
        width: 40vw;
        background-color: rgb(0 12 10);
        top: 8vh;
        display: flex;
        flex-direction: column;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    body {
        overflow-x: hidden;
    }

    .burger {
        justify-content: center;
        width: 22vw;
        cursor: pointer;
        display: block;
    }

    .navitems li {
        width: 100%;
        padding: 13px;
        text-align: center;
        opacity: 1;
    }

    .navitems li:hover {
        background-color: #298961;
        cursor: pointer;
        border-radius: 6px;
    }

    .nav-drop {
        position: static;
        justify-content: center;
        align-items: center;
    }

    .content {
        width: 90vw;
        height: auto;
        min-height: 90vh;
        margin: auto;
        margin-top: 6px;
        margin-bottom: 13px;
        background-color: rgba(150, 246, 253, 0.993);
        border-radius: 13px;
    }

    .prod {
        background-color: rgba(150, 246, 253, 0.993);
        border-radius: 13px;
        margin: auto;
        position: relative;
        min-height: 100%;
        width: 90vw;
        display: inline-block;
        justify-content: space-around;
    }
}

.toggle .bug1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .bug2 {
    opacity: 0;
}

.toggle .bug3 {
    transform: rotate(45deg) translate(-4px, -5px);
}

.nav-active {
    transform: translateX(0%);
}

footer {
    background-color: rgb(0 12 10);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 21vh;
    min-height: 200px;
    align-items: center;
    background-image: linear-gradient(rgb(2, 72, 82), rgb(2, 6, 7));
}

footer div {
    color: whitesmoke;
}


.container {
    margin-top: 60px;
}


.content h3 {
    color: rgb(39, 39, 39);
    justify-content: center;
    text-align: center;
    border-radius: 13px;
}

.home-products {
    width: 200px;
    min-width: 200px;
    margin-right: 6px;
    height: 400px;
    border-radius: 6px;
    background-color: rgb(255, 255, 255);
}

.home-products .prodimg {
    width: 200px;
    height: 200px;
    margin: 0px;
    padding: 0px;
    background-color: rgba(150, 246, 253, 0.993);
}

.home-products .prodimg img {
    width: 200px;
    height: 200px;
}

form {
    background-color: aliceblue;
    border-radius: 13px;
    width: 40vw;
    height: auto;
    padding: 18px;
    margin: auto;
    margin-bottom: 24px;
    box-shadow: 0px 12px 28px 5px rgba(1, 6, 7, 0.747);
}

form label {
    font-size: 19px;
    font-weight: bold;
    color: rgb(83, 83, 83);
}

form input {
    font-size: 18px;
    width: 100%;
    margin-top: 2px;
    margin-bottom: 18px;
    height: 32px;
    outline: none;
    border-color: rgb(56, 56, 56);
    border-width: 1.5px;
    border-radius: 4px;
}

form input:hover {
    border-width: 2px;
    border-color: rgb(58, 58, 58);
    outline: none;
}

form input:focus {
    outline: none;
    border: solid;
    border-width: 2px;
    border-radius: 6px;
    border-color: cyan;
    box-shadow: 0px 0px 10px 1px #0ff;
}

.container h2 {
    text-align: center;
    color: rgba(37, 37, 37, 0.788);
}

.form {
    padding: 13px
}

.form:first-child {
    margin-top: 4px;
}

input[type=submit] {
    margin-top: 18px;
    background-color: #2684ff;
    height: 40px;
    font-weight: 800;
    color: aliceblue;
}

form img {
    justify-content: center;
    width: 60px;
    height: 60px;
    margin: auto;
    display: block;
}

.query {
    display: inline;
    margin-top: 4px;
    margin-bottom: 12px;
}

.query a {
    padding: 6px;
    margin-left: 9px;
    background-color: rgba(37, 37, 37, 0.788);
    border-radius: 4px;
    color: aliceblue;
    text-decoration: none;
}

.errors {
    background-color: rgb(255, 164, 137);
    padding: 6px;
    width: 100%;
    border-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-width: auto;
    justify-self: center;
}

.errors .message {
    font-size: 22px;
    width: auto;
    margin: auto;

}

.errors .cancel {
    font-size: 25px;
    padding-right: 30px;
    margin: 20px;
    padding: 20px;
}

.info {
    background-color: rgb(169, 202, 202);
    padding: 6px;
    width: calc(100% - 40%);
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    display: flex;
    justify-content: space-between;
    margin: auto;
    min-width: auto;
    justify-self: center;
}

.info .message {
    font-size: 22px;
    width: auto;
    margin: auto;

}

.info .cancel {
    font-size: 25px;
    padding-right: 30px;
    margin: 20px;
    padding: 20px;
}

.home-items h2 {
    text-align: center;
    margin: auto;
}

.containerp {
    background-color: aliceblue;
    max-width: 40vw;
    width: 60vw;
    border-radius: 12px;
    padding: 18px;
    box-shadow: 0px 20px 18px 3px rgba(0, 0, 0, 0.76);
    margin: auto;
    margin-bottom: 55px;
    position: relative;
    justify-content: center;
}

.prod {
    background-color: #b7f3eb71;
    border-radius: 13px;
    margin: auto;
    position: relative;
    min-height: 100%;
    width: 85vw;
    display: inline-block;
    justify-content: space-around;
}

.products-items {
    background-color: rgba(255, 255, 255, 0.712);
    padding: 2px;
    margin: 13px;
    margin-top: 20px;
    margin-bottom: 3px;
    width: 280px;
    height: 480px;
    float: left;
    border-radius: 13px;
    box-shadow: 0px 8px 13px 2px rgba(0, 0, 0, 0.76);
}

.prod-desc {
    margin-left: 14px;
}

.prodimg img {
    width: 278px;
    border-top-right-radius: 13px;
    border-top-left-radius: 12px;
    height: 280px;
}

.products-items:hover {
    cursor: pointer;
}

.products-items .title p {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 2px;
}

.prof {
    background-color: aliceblue;
    padding: 13px;
    width: 60%;
    justify-content: center;
    position: relative;
    display: list-item;
    margin: auto;
    border-radius: 13px;
}

.prof input[type=submit] {
    padding: 4px;
    border-radius: 5px;
    background-color: rgb(41, 40, 40);
    text-decoration: none;
    color: honeydew;
    font-weight: 700;
    position: relative;
    justify-content: center;
    margin-top: 99%;
    margin-left: auto;
}

.actions {
    margin-top: 13px;
    position: relative;
}

.actions a {
    padding: 9px;
    background-color: rgb(44, 44, 44);
    margin-top: 19px;
    border-radius: 4px;
    margin-right: 4px;
    color: rgb(255, 153, 0);
    text-decoration: none;
}

.admtable {
    background-color: aliceblue;
    border-width: 2px;
    border: aqua 4px;
    border-radius: 13px;
    margin: auto;

}

.admtable table {
    column-rule-style: groove;
    row-gap: 13px;
    border: groove;
    padding: 16px;
    border-radius: 13px;
}

.admtable table tr {
    padding: 26px;
    border: groove;
    row-gap: 13px;
    margin: 13px;
}

.notfound {
    width: 100%;
    height: 100%;
    justify-content: center;
}

.notfound .nf {
    width: max-content;
    justify-self: center;
    margin: auto;
}

.content .empty-cart {
    width: 400px;
    height: 200px;
    margin: auto;
    text-align: center;
    border-radius: 13px;
    background-color: rgb(218, 253, 251);
    box-shadow: 0px 20px 68px 18px rgba(0, 0, 0, 0.76);
}